Table thead tr th, Table tbody tr td {
	text-align: center;
	vertical-align: middle !important;
}

Table { 
	margin-top: 50px;
	margin-bottom: 25px;
	width: 90% !important;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	text-align: center;
	margin-top:40px;
}

